Checks: "-*,
         bugprone-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -modernize-use-trailing-return-type,
         -misc-include-cleaner,
"

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'ap|aps'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'ap|aps'

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

