[submodule "3rdp/googletest"]
	path = 3rdp/googletest
	url = git@github.com:google/googletest.git
[submodule "3rdp/json"]
	path = 3rdp/json
	url = git@github.com:nlohmann/json.git
[submodule "3rdp/cppzmq"]
	path = 3rdp/cppzmq
	url = git@github.com:zeromq/cppzmq.git
[submodule "3rdp/protobuf"]
	path = 3rdp/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
	ignore = untracked

